target/
bin/
.settings/
OSGI-INF/
.classpath
.project
*.iml
*.log
**/*.zip
tags
tags.*
.idea
**/*.iml
bundles/**/META-INF/
bundles/**/git.properties
git.properties
**/git.properties
**/*.jar
**/*.esa
**/*.class
**/*.log
**/*.out
**/*.trace
**/*.rar
**/*.gz
**/*.tar
**/*.zip
**/*.exe
**/*.dmg
**/*.pdf
**/*.bak
!bundles/**/src/main/resources/META-INF/
**/test-output/**
.DS_Store
**/test-output
.pump/
pump.conf
**/node_modules/**
**/package-lock.json
co.assembly.cf/manifest.yml
gen
.xmake
**/coverage
/it-co-jinx.yml
